{% extends 'base.html' %}


{% block title %}
This is Services block
{% endblock title %}


{% block body %}
<div class="container my-5 mx-auto">
     <div class="my-3">
      <h1 class="display- text-center adjustttext" style=""><span class="primary" style="color: #0dcaf0;">P</span>rogramming<span style="color: #0dcaf0;" >G</span>eeks</h1>
      <img class="mx-auto adjustcontent" style="" src="/static/profile/underlinpng.png">
    </div>
 
        <div class="row">
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card  text-center" >
                    <i class="fa-10x fab fa-html5 text-" style="color: #0dcaf0;"></i>
                        <div class="card-body text-center">
                            <h5 class="card-title">HTML5</h5>
                            <a href="Introduction_of_HTML" class="btn btn-outline-info">Get start</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card text-center" >
                    <i class="fa-10x fab fa-css3 textd-danger" style="color: #0dcaf0;"></i>
                        <div class="card-body text-center">
                            <h5 class="card-title ">CSS3</h5>
                            <a href="Introduction_of_CSS" class="btn btn-outline-info">Get start</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card text-center" >
                    <i class="fa-10x fab fa-js text-dangerd"  style="color: #0dcaf0;"></i>
                        <div class="card-body text-center">
                            <h5 class="card-title ">JAVASCRIPT</h5>
                            <a href="Introduction_of_JAVASCRIPT" class="btn btn-outline-info">Get start</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card text-center" >
                    <i class="fa-10x fab fa-python text-dsanger"  style="color: #0dcaf0;"></i>
                        <div class="card-body text-center">
                            <h5 class="card-title">PYTHON</h5>
                            <a href="variablepy" class="btn btn-outline-info">Get start</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card text-center" >
                    <i class="fa-10x fab fa-php text-dangser"  style="color: #0dcaf0;"></i>
                    {% comment %} <i class="fa-10x fab fa-java text-danger"></i> {% endcomment %}
                        <div class="card-body text-center">
                            <h5 class="card-title">PHP</h5>
                            <a href="Introduction_of_PHP" class="btn btn-outline-info">Get start</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card text-center" >
                    <i class="fa-10x fab fa-cuttlefish text-dangder"  style="color: #0dcaf0;"></i>
                        <div class="card-body text-center">
                            <h5 class="card-title">C</h5>
                            <a href="Introduction_of_C" class="btn btn-outline-info">Get start</a> 
                        </div>
                    </div>
                </div>
            </div>
           
         
        </div>
      </div>
{% endblock body %}